[submodule "kino-frontend"]
	path = kino-frontend
	url = git@github.com:LaylaSilbernberg/kino-frontend.git
[submodule "kino-backend"]
	path = kino-backend
	url = git@github.com:LaylaSilbernberg/kino-backend.git
